/* Loading the font for the logo */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  src: local('Orbitron-Bold'), url('fontLogo.woff') format('woff');
}

.cc{
	width: 700px;
	margin-left:auto;
	margin-right:auto;
	padding: 40px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.4)));
	border-radius: 15px;
}

#home{
	margin-top: 10%;
}

#results{
	width:100%;
}

#donate{
	display:none;
	color: grey;
	padding-top: 10px;
	margin-top: 10%;
}

#logo{
	width:100%;
	font-size:5em;
	color:grey;
	letter-spacing:7px;
	text-align:center;
	font-family: 'Orbitron', serif;
	font-weight: bold;
}

#player{
	bottom: 5px;
	text-align:center;
	margin-top: 20px;
	width:100%;
	left: auto;
	right: auto;
}

.blue{
	color: #1375FA;
	font-weight: bold;
}

body{
	background-color: black; 
	font-family:Verdana;
	background-image: url("img/bg.jpg");
	background-repeat: no-repeat;
	-webkit-user-select: none;
	cursor:default; /* fixes edit marker over logo */
	min-height: 400px;
	min-width: 750px;
}
#searchField{
	font-size:2em;
	text-align:center;
	width:100%;
	color:grey;
	border-radius:10px;
	border:1px solid #CECECE;
	outline: none;
}
#footer{
	font-size: 0.7em;
	text-align:center;
	width:100%;
	display:block;
	margin-top: 10px;
}
a {
	color:grey;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}